html, body {
	padding: 0;
	margin: 0;
	overflow-x:hidden; 
}

.logotip {
	text-decoration: none;
	font-family: 'Reem Kufi', medium;	
	color: #fff;
	font-size: 36px;
    border-color: #6DAEDB;
}

.container .row {
	padding-top: 16px;
	text-decoration: none;
}

.head {
	text-decoration: none;
	height: 706px;
	background: linear-gradient(90deg, rgba(183, 40, 75, 0.8) 0%, rgba(209, 50, 75, 0.8) 44.73%, rgba(228, 58, 74, 0.8) 61.57%, rgba(239, 62, 74, 0.8) 100%), 
	url(https://github.com/anton-kachur/onestep-landing.github.io/blob/master/srg.jpg?raw=true);
}

.navbar-expand-md {
	text-decoration: none;
    border-color: #6DAEDB;
}

.btn-group .dropdown-toggle {
	width: 46px;
	height: 44px;
	padding-top: 8px;
	background-color: transparent; 
	border-color: transparent;

}

.row-md-6 {
	text-decoration: none;
	justify-content: space-between;
}

.row-md-6 a {
	font-family: 'Rubik';
	color: #fff;
	font-size: 18px;
	padding: 14px;
	text-decoration: none;

	border-color: #F1F1F1;
	background-color: transparent;
	border-width: 3px;
}

.buttons .row {
	border-color: #FFFFFF;
	color: #FFFFFF;
	background-color: transparent;
	border-width: 3px;
}

.buttons .btn {
	width: 200px;
	height: 89px;
}

.buttons .btn-1{
	color: #C40B39;
	border-color: #F1F1F1;
	background-color: #F1F1F1;
	border-width: 3px;
	margin-right: 6px;
}

.buttons .btn-2 {
	border-color: #F1F1F1;
	border-width: 3px;
	margin-left: 6px;
}

.first {
	color: #C40B39;
	padding-top: 20px;
}

.second {
	padding-top: 20px;
}



.row-md-3 {
	padding-top: 84px;
	text-align: center;
	list-style: none;	
	color: #FFFFFF;
	font-family: 'Rubik', sans-serif;
}

.title {
	line-height: 84px;
	font-weight: bold;
	font-size: 64px;
}

.head .subtitle {
	font-weight: Medium;
	font-size: 24px;
	color: #FFFFFF;
}

.buttons .row {
	padding-top: 84px;
	list-style: none;
	justify-content: center;	
    border-color: #6DAEDB;
	color: #FFFFFF;
	
}

.buttons .btn {
	color: #FFFFFF;
	font-family: 'Rubik', medium;
	text-decoration: none;	
	font-size: 18px;
}

.main-topics {
	height: 438px;
	width: 1366px;
	font-family: 'Rubik', sans-serif;
}

.main-topics .row {
	justify-content: center;	
}

.main-topics .column {
	justify-content: center;	
}

.s-1, .s-2, .s-3, .s-4, .s-5 {
	padding: 48px;
}

h1 {
	padding-top: 92px;
	font-family: 'Rubik', sans-serif;
	text-align: center;
	list-style: none;	
	font-weight: Medium;
	font-size: 36px;
}

.main-topics a {
	color: #000000;
	font-size: 18px;
	text-align: center;
	padding-top: 10px;
	text-decoration: none;
}

h2 {
	padding-top: 20px;
	list-style: none;
	line-height: 12px;
	font-family: 'Rubik', sans-serif;
	font-weight: Medium;
	font-size: 24px;
}

.main-topics h2 {
	line-height: 1px;
}


.portfolio {
	height: 897px;
	background-color: #F1F1F1;

}

.portfolio .row {
	padding-top: 30px;
	justify-content: center;
	text-align: center;
}

.portfolio .btn-3 {
	position: relative;
	width: 297px;
	height: 89px;
	color: #C40B39;
	font-family: 'Rubik', sans-serif;
	font-weight: Medium;
	font-size: 18px;
	border-color: #000000;
	background-color: transparent;
	border-width: 3px;
	margin-top: 46px;
	padding-top: 28px;
	text-align: center;
	margin-left: 400px;
}

.portfolio img {
	padding: 6px;
}

.features {
	background: linear-gradient(90deg, #B7284B 23.37%, #C41641 74.21%);
	height: 415px;
	color: #fff;
}

.features h2 {
	color: #fff;
	line-height: 2px;
}

.features .txt-2 {
	padding-top: 8px;
}

.features .subtitle {
	line-height: 24px;
		color: #FFFFFF;
}

.features .row {
	justify-content: center;

}

.f-1, .f-2, .f-3 {
	padding: 48px;
	padding-top: 16px;

	text-align: left;
}

.application {
	height: 850px;
	color: #fff;
}

.application h1, h2 {
	color: #000;
	line-height: 18px;
}

.application .subtitle {
	color: #000;
	text-align: center;
	line-height: 24px;
}

.application .txt {
	padding-top: 23px;
}

.application input, .form-control{
	border-width: 3px;
	height: 46px;
	border-color: #000;
}

.application .row{
	justify-content: center;
	padding: 2px;
}

.application .btn {
	width: 297px;
	height: 89px;
	color: #FFFFFF;
	border-color: #C40B39;
	background-color: #C40B39;
	border-width: 3px;
	margin-left: 130px;
	margin-top: 36px;
}

.footer {
	background-color: #F1F1F1;
	height: 372px;
}

.footer h2, .subtitle {
	color: #000;
}

.footer .row {
	justify-content: center;
}

.footer .fo-1, .fo-2, .fo-3 {
	padding-top: 46px;
	padding: 72px;
}

.footer a {
	text-align: left;
	text-decoration: none;
}

.footer img {
	padding-top: 2px;
	padding: 6px;
}

.copyright {
	text-align: center;
	padding-top: -10px;
	line-height: 12px;
	font-family: 'Rubik', sans-serif;
	font-weight: Medium;
	font-size: 14px;
}

@media all and (max-width: 585px) {
	
	.logotip {
		padding-left: 12px;
		transition-duration: 0.3s;
	}
	
	.main-topics {
		height: 1180px;
		background-color: #FFFFFF;
		margin-left: 12px;
		transition-duration: 0.1s;
	}
	
	.s-1 {
		margin-left: -415px;
	}
	
	.s-2 {
		margin-top: 180px;
		margin-left: -215px;
	}
	
	.s-3 {
		margin-top: 390px;
		margin-left: -211px;
	}
	
	.s-4 {
		margin-top: 605px;
		margin-left: -209px;
	}
	
	.s-5 {
		margin-top: 775px;
		margin-left: -185px;
	}
	
	.main-topics h1 {
		margin-right: 810px;
	}	
	
	.main-topics .row {
		margin-right: 410px;
	}
	
	.btn-group .dropdown-menu {
		left: -200px;
		top: -20px;
	}
	
	.head {
		height: 786px;
		transition-duration: 0.3s;
	}
	
	.portfolio {
		height: 1388px;
		transition-duration: 0.5s;
	}
	
	.btn-group {
		padding-right: 30px;
	}
	
	.logotip {
		margin-top: 12px;
	}
	
	.row-md-6 {
		display: none;
		transition-duration: 0.3s;
	}

	.row-md-6 a {
		display: none;
		transition-duration: 0.3s;
	}
	
	.row-md-3 {
		padding-top: 95px;
	}
	
	.portfolio .btn-3 {
		margin-left: 34.1%;
	}
	
	.portfolio .btn-3 {
		margin-left: 105px;
	}
	
	.portfolio img {
		color: #F1F1F1;
		background-color: #F1F1F1;
		padding-top: 6px;
	
		transition-duration: 0.5s;
	}	
	
	.application {
		height: 947px;
	}
	
	.application .btn {
		margin-left: 106px;
		transition-duration: 0.5s;
	}

	.copyright {
		padding-top: -10px;
	}
	
	.footer {
		height: 732px;
		transition-duration: 0.1s;
	}

	.fo-1{
		padding-top: 46px;
		margin-left: -25px;
	}
	
	.fo-2{
		margin-top: -102px;
		padding-left: 72px;
	}

	.fo-3 {
		margin-top: -102px;
		padding-left: 50px;
	}
}

@media (min-width: 582px) and (max-width: 606px) {
	.footer {
		height: 732px;
		transition-duration: 0.1s;
	}
	
	.fo-1{
		padding-top: 46px;
		margin-left: 22px;
	}
	
	.fo-2{
		margin-top: -110px;
		margin-left: 40px;
	}
	
	.fo-3 {
		margin-top: -110px;
		margin-left: 12px;
		transition-duration: 0.1s;
	}
}

@media (min-width: 576px) and (max-width: 606px) {
	.btn-group .dropdown-menu {
		left: -200px;
		top: -20px;
	}
	
	.head {
		height: 786px;
		transition-duration: 0.3s;
	}
	
	.portfolio {
		height: 1388px;
		transition-duration: 0.5s;
	}
	
	.btn-group {
		padding-right: 30px;
	}
	
	.logotip {
		margin-top: 12px;
	}
	
	.row-md-6 {
		display: none;
		transition-duration: 0.3s;
	}

	.row-md-6 a {
		display: none;
		transition-duration: 0.3s;
	}
	
	.row-md-3 {
		padding-top: 95px;
	}
	
	.portfolio .btn-3 {
		margin-left: 34.1%;
	}
	
	.portfolio .btn-3 {
		margin-left: 105px;
	}
	
	.portfolio img {
		color: #F1F1F1;
		background-color: #F1F1F1;
		padding-top: 6px;
	
		transition-duration: 0.5s;
	}	
	
	.application {
		height: 947px;
	}
	
	.application .btn {
		margin-left: 106px;
		transition-duration: 0.5s;
	}

	.copyright {
		padding-top: -10px;
	}
	
	.main-topics {
		height: 1380px;
		background-color: #FFFFFF;
		margin-left: auto;
		transition-duration: 0.1s;
	}

	.s-1 {
		padding: 200px;
		background-color: #FFFFFF;
	}
	
	.s-2, .s-3, .s-4 {
		margin-top: -100px;
		padding: 200px;
		background-color: #FFFFFF;
	}
	
	.s-5 {
		margin-top: -100px;
		padding: 200px;
		padding-bottom: 120px;
	}
	
	
	
}

@media (min-width: 607px) and (max-width: 768px) {
	.footer {
		height: 562px;
	}
	
	.footer .fo-3 {
		margin-top: -92px;
		padding: 72px;
	}
	
	.main-topics .col-3 {
				visibility: hidden;
	}
	
	.application {
		height: 960px;
	}
}

@media all and (max-width: 670px) {
	
	.features {
		height: 590px;
		transition-duration: 0.1s;
	}
}

@media (min-width: 607px) and (max-width: 768px) {	

	.btn-group .dropdown-menu {
		left: -100px;
	}
	
	.head {
		height: 786px;
		transition-duration: 0.3s;
	}
	
	.portfolio {
		height: 1388px;
		transition-duration: 0.5s;
	}
	
	.logotip {
		margin-top: 12px;
	}
	
	.row-md-6 {
		display: none;
		transition-duration: 0.3s;
	}

	.row-md-6 a {
		display: none;
		transition-duration: 0.3s;
	}
	
	.row-md-3 {
		padding-top: 95px;
	}
	
	.portfolio .btn-3 {
		margin-left: 34.1%;
	}
	
	.main-topics {
		height: 815px;
		width: 1366px;
	}
	
	.portfolio .btn-3 {
		margin-left: 105px;
	}
	
	.portfolio img {
		color: #F1F1F1;
		background-color: #F1F1F1;
		padding-top: 6px;
	
		transition-duration: 0.5s;
	}	
	
	.application .btn {
		margin-left: 106px;
		transition-duration: 0.5s;
	}

	.copyright {
		padding-top: -10px;
	}
	
}

@media (min-width: 768px) and (max-width: 906px) {
	
	.btn-group .dropdown-menu {
		left: -100px;
	}
	
	.head {
		height: 786px;
		transition-duration: 0.3s;
	}
	
	.portfolio {
		height: 1388px;
		transition-duration: 0.5s;
	}
	
	.logotip {
		margin-top: 12px;
	}
	
	.row-md-6 {
		display: none;
		transition-duration: 0.3s;
	}

	.row-md-6 a {
		display: none;
		transition-duration: 0.3s;
	}
	
	.row-md-3 {
		padding-top: 95px;
	}
	
	.portfolio .btn-3 {
		margin-left: 34.1%;
	}
	
	.main-topics {
		height: 605px;
		width: 1366px;
	}
	
	.portfolio .btn-3 {
		margin-left: 28.65%;
	}
	
	.portfolio img {
		color: #F1F1F1;
		background-color: #F1F1F1;
		padding-top: 6px;
	
		transition-duration: 0.5s;
	}	
	
	.application .btn {
		margin-left: 16px;
		transition-duration: 0.5s;
	}
	
	.footer {
		height: 562px;
	}
	
	.footer .fo-3 {
		margin-top: -92px;
		padding: 72px;
		
	}

	.copyright {
		padding-top: -10px;
	}
}

@media (min-width: 907px) and (max-width: 991px) {
	
	.btn-group .dropdown-menu {
		left: -86px;
	}
	
	.head {
		height: 786px;
	}
	
	.portfolio {
		height: 1388px;
		transition-duration: 0.5s;
	}
	
	.logotip {
		margin-top: 12px;
	}
	
	.row-md-6 {
		display: none;
		transition-duration: 0.3s;
	}

	.row-md-6 a {
		display: none;
		transition-duration: 0.3s;
	}
	
	.row-md-3 {
		padding-top: 95px;
	}
	
	.portfolio .btn-3 {
		margin-left: 34.1%;
	}
	
	.main-topics {
		height: 605px;
		width: 1366px;
	}
	
	.portfolio .btn-3 {
		margin-left: 28.65%;
	}
	
	.portfolio img {
		color: #F1F1F1;
		background-color: #F1F1F1;
		padding-top: 6px;
	
		transition-duration: 0.5s;
	}	

	.application .btn {
		margin-left: 16px;
		transition-duration: 0.5s;
	}
	
	.main-topics .col-3 {
				visibility: hidden;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {	
	
	.btn-group .dropdown-menu {
		left: -46px;
	}
	
	.logotip {
		margin-top: 12px;
	}
	
	.row-md-6 {
		display: none;
		transition-duration: 0.3s;
	}

	.row-md-6 a {
		display: none;
		transition-duration: 0.3s;
	}
	
	.row-md-3 {
		padding-top: 95px;
	}
	
	.main-topics {
		height: 605px;
		width: 1366px;
	}
	
	.main-topics .row {
		justify-content: center;	
	}
	
	.portfolio {
		height: 1388px;
		transition-duration: 0.5s;
	}
	
	.portfolio .btn-3 {
		/*margin-left: 28.65%;*/
		margin-left: 34.3%;
	}
	
	.portfolio img {
		color: #F1F1F1;
		background-color: #F1F1F1;
		padding-top: 6px;
	
		transition-duration: 0.5s;
	}	

	.application .btn {
		margin-left: 76px;
		transition-duration: 0.5s;
	}
	
	.application {
		transition-duration: 0.5s;
	}
	
	.main-topics .col-3 {
				visibility: hidden;
	}
}

@media all and (min-width: 1200px) {	
	.main-topics .col-3 {
		visibility: hidden;
	}
	.btn-group {
		display: none;
		transition-duration: 0.3s;
	}
}
