html, body {
	padding: 0;
	margin: 0;
	overflow-x:hidden; 
}

.logotip {
	text-decoration: none;
	font-family: 'Reem Kufi', medium;	
	color: #fff;
	font-size: 36px;
    border-color: #6DAEDB;
}

.container .row {
	padding-top: 16px;
	text-decoration: none;
}

.head {
	text-decoration: none;
	height: 706px;
	background: linear-gradient(90deg, rgba(183, 40, 75, 0.8) 0%, rgba(209, 50, 75, 0.8) 44.73%, rgba(228, 58, 74, 0.8) 61.57%, rgba(239, 62, 74, 0.8) 100%), 
	url(https://github.com/anton-kachur/onestep-landing.github.io/blob/master/srg.jpg?raw=true);
}

.navbar-expand-md {
	text-decoration: none;
    border-color: #6DAEDB;
}

.row-md-6 {
	text-decoration: none;
	justify-content: space-between;
}

.row-md-6 a {
	font-family: 'Rubik';
	color: #fff;
	font-size: 18px;
	padding: 14px;
	text-decoration: none;
}

.row .btn {
	border-color: #FFFFFF;
	color: #FFFFFF;
	background-color: transparent;
	border-width: 3px;
}

.buttons .btn {
	width: 200px;
	height: 89px;
}

.buttons .btn-1{
	color: #C40B39;
	border-color: #F1F1F1;
	background-color: #F1F1F1;
	border-width: 3px;
}

.first {
	color: #C40B39;
	padding-top: 20px;
}

.second {
	padding-top: 20px;
}

.buttons .btn-2 {
	border-color: #F1F1F1;

	border-width: 3px;
}

.row-md-3 {
	padding-top: 84px;
	text-align: center;
	list-style: none;	
	color: #FFFFFF;
	font-family: 'Rubik', sans-serif;
}

.title {
	line-height: 84px;
	font-weight: bold;
	font-size: 64px;
}

.head .subtitle {
	font-weight: Medium;
	font-size: 24px;
	color: #FFFFFF;
}

.buttons .row {
	padding-top: 84px;
	list-style: none;
	justify-content: center;	
    border-color: #6DAEDB;
	color: #FFFFFF;
	
}

.buttons .btn {
	color: #FFFFFF;
	font-family: 'Rubik', medium;
	text-decoration: none;	
	font-size: 18px;
}

.main-topics {
	height: 438px;
	width: 1366px;
	font-family: 'Rubik', sans-serif;
}

.main-topics .row {
	justify-content: center;	
}

h1 {
	padding-top: 92px;
	font-family: 'Rubik', sans-serif;
	text-align: center;
	list-style: none;	
	font-weight: Medium;
	font-size: 36px;
}

.main-topics a {
	color: #000000;
	font-size: 18px;
	text-align: center;
	padding-top: 10px;
	text-decoration: none;
}

h2 {
	padding-top: 20px;
	list-style: none;
	line-height: 12px;
	font-family: 'Rubik', sans-serif;
	font-weight: Medium;
	font-size: 24px;
}

.main-topics h2 {
	line-height: 1px;
}

.main-topics .col-md-2 {
	justify-content: center;
}

.portfolio {
	height: 897px;
	background-color: #F1F1F1;

}

.portfolio .row-md-2{
	padding-top: 30px;
	justify-content: center;
	text-align: center;
}

.portfolio .btn {
	width: 297px;
	height: 89px;
	color: #000000;
	font-family: 'Rubik', sans-serif;
	font-weight: Medium;
	font-size: 18px;
	border-color: #C40B39;
	background-color: transparent;
	border-width: 3px;
	padding: 12px;
	margin-top: 46px;
}

.features {
	background: linear-gradient(90deg, #B7284B 23.37%, #C41641 74.21%);
	height: 415px;
	color: #fff;
}

.features h2 {
	color: #fff;
	line-height: 2px;
}

.features .txt-2 {
	padding-top: 8px;
}

.features .subtitle {
	line-height: 24px;
		color: #FFFFFF;
}

.features .row {
	justify-content: center;
	padding-left: 140px;
}

.features .col-md-3 {
	padding: 20px;
	text-align: left;
}

.application {
	height: 850px;
	color: #fff;
}

.application h1, h2 {
	color: #000;
	line-height: 18px;
}

.application .subtitle {
	color: #000;
	text-align: center;
	line-height: 24px;
}

.application .txt {
	padding-top: 23px;
}

.application input, .form-control{
	border-width: 3px;
	height: 46px;
	border-color: #000;
}

.application .row{
	justify-content: center;
	padding: 2px;
}

.application .btn {
	width: 297px;
	height: 89px;
	color: #FFFFFF;
	border-color: #C40B39;
	background-color: #C40B39;
	border-width: 3px;
	margin-left: 130px;
	margin-top: 36px;
}

.footer {
	background-color: #F1F1F1;
	height: 372px;
}

.footer h2, .subtitle {
	color: #000;
}

.footer .row {
	padding: 12px;
	padding-left: 186px;
	padding-top: 46px;
}

.footer a {
	text-align: left;
	text-decoration: none;
}

.footer img {
	padding-top: 2px;
	padding: 6px;
}

.copyright {
	text-align: center;
	padding-top: 90px;
	line-height: 12px;
	font-family: 'Rubik', sans-serif;
	font-weight: Medium;
	font-size: 14px;
}

@media all and (max-width: 770px) {
	.main-topics {
		height: 900px;
		transition-duration: 0.5s;
	}
	
	.buttons .row {
		padding-top: 34px;
		transition-duration: 0.5s;
	}
	
	.portfolio {
		height: 1450px;
		transition-duration: 0.5s;
	}
	
	.portfolio img {
		padding-top: 12px;
		transition-duration: 0.5s;
	}	
	
	.features {
		height: 800px;
		transition-duration: 0.5s;
	}
	
	.application {
		height: 950px;
		transition-duration: 0.5s;
	}
	
	.footer {
		height: 610px;
		transition-duration: 0.5s;
	}
}

@media all and (min-width: 770px) and (max-width: 1190px) {
	.portfolio .btn {
		transition-duration: 0.5s;
		height: 287px;
		width: 92px;
	}
} 

@media all and (max-width: 1190px) {	
	.buttons .row {
		padding-top: 34px;
		transition-duration: 0.5s;
	}
	
	.portfolio {
		height: 1400px;
		transition-duration: 0.5s;
	}
	
	.portfolio img {
		color: #F1F1F1;
		background-color: #F1F1F1;
		padding-top: 12px;
	
		transition-duration: 0.5s;
	}	

	.application .btn {
		margin-left: 76px;
		margin-top: 24px;
		transition-duration: 0.5s;
	}
	
	.application {
		transition-duration: 0.5s;
	}

}